/build/
/po/*.pot
*.tar.xz
__pycache__/
bin/test.file
biuld/.ninja_deps
biuld/.ninja_log
biuld/build.ninja
biuld/compile_commands.json
biuld/bin/pithos
biuld/data/gschemas.compiled
biuld/data/io.github.Pithos.appdata.xml
biuld/data/io.github.Pithos.desktop
biuld/data/io.github.Pithos.service
biuld/data/pithos.gresource
biuld/meson-info/intro-benchmarks.json
biuld/meson-info/intro-buildoptions.json
biuld/meson-info/intro-buildsystem_files.json
biuld/meson-info/intro-dependencies.json
biuld/meson-info/intro-installed.json
biuld/meson-info/intro-projectinfo.json
biuld/meson-info/intro-targets.json
biuld/meson-info/intro-tests.json
biuld/meson-info/meson-info.json
biuld/meson-logs/install-log.txt
biuld/meson-logs/meson-log.txt
biuld/meson-private/build.dat
biuld/meson-private/cleantrees.dat
biuld/meson-private/cmd_line.txt
biuld/meson-private/coredata.dat
biuld/meson-private/install.dat
biuld/meson-private/meson_benchmark_setup.dat
biuld/meson-private/meson_test_setup.dat
biuld/meson-private/meson.lock
